@model ContactModel;
<div class="hero_area">
    <!-- header section strats -->
    <!-- end header section -->

    <section class="home_section ">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        The Latest
                                        <span>
                                            Clothes
                                        </span>
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="/Contact/Contact" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 img-container">
                                <div class="img-box">
                                    <img src="~/images/products/2.1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>

                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/about-us.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- brand section -->

<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Featured Brands
            </h2>
        </div>
        <div class="brand_container layout_padding2">
            <div class="box">
                <a href="/Shop/Shop">
                    <div class="img-box">
                        <img src="~/images/products/1.1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6 class="price">
                            $100
                        </h6>
                        <h6>
                            Shirts
                        </h6>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/Shop/Shop">
                    <div class="img-box">
                        <img src="~/images/products/10.1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6 class="price">
                            $100
                        </h6>
                        <h6>
                            Pants
                        </h6>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/Shop/Shop">
                    <div class="img-box">
                        <img src="~/images/products/7.1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6 class="price">
                            $100
                        </h6>
                        <h6>
                            Sweatshirts
                        </h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end brand section -->